@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald&display=swap');

// =====Variables=====
// Colors
$clr-white: #ffffff;
$clr-quickSilver: #a7a7a7;
$clr-darkGrey: #373737;
$clr-machinery: #9b99a9;
$clr-direWolf: #272727;
$clr-ebonyClay: #333338;
$clr-patriotBlue: #393555;

$ebonyClayOverlay: linear-gradient(
	0deg,
	rgba(
		$color: $clr-ebonyClay,
		$alpha: 0.75,
	),
	rgba(
		$color: $clr-ebonyClay,
		$alpha: 0.75,
	)
);

$ebonyClayOverlay-50: linear-gradient(
	0deg,
	rgba(
		$color: $clr-ebonyClay,
		$alpha: 0,
	),
	rgba(
		$color: $clr-ebonyClay,
		$alpha: 0,
	)
);

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Font
$fnt-primary: 'Montserrat', sans-serif;
$fnt-secondary: 'Oswald', sans-serif;

// Spacing
@mixin containerPadding {
	padding: 0 100px;
}

@mixin centerX {
	margin: 0 auto;
}

// =====Defaults=====
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
}

body {
	background-color: $clr-direWolf;
	font-family: $fnt-primary;
	width: 100vw;
	overflow-x: hidden;
}

a {
	color: $clr-white;
	text-decoration: none;

	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

.btn {
	color: $clr-white;
	border: 1px solid $clr-white;
	padding: 1em 2rem;
	letter-spacing: 0.2em;
	border-radius: 0;
	position: relative;
	margin: 0 auto;

	&:hover {
		background-color: $clr-white;
		color: $clr-direWolf;
	}

	@media (min-width: $md) {
		margin: 0;
		padding: 1.5em 2.5rem;
	}
}

.btn.btn-left {
	margin-bottom: 4rem;

	&:before {
		content: '';
		border-top: 1px solid $clr-white;
		width: 25vw;
		display: block;
		position: absolute;
		right: 100%;
		transform: translateY(-50%);
		top: 50%;
	}
}

.btn.btn-right {
	display: block;
	margin-left: auto;
	margin-bottom: 4rem;

	&:before {
		content: '';
		border-top: 1px solid $clr-white;
		width: 25vw;
		display: block;
		position: absolute;
		left: 100%;
		transform: translateY(-50%);
		top: 50%;
	}
}

// Colors
.text-medium {
	color: $clr-machinery;
}

// Defaults

.container {
	width: 80%;
	@media (min-width: $md) {
		max-width: 600px;
	}
	@media (min-width: $lg) {
		max-width: 892px;
	}
	@media (min-width: $xl) {
		max-width: 1390px;
	}
}

// =====Custom Styling=====
// Header
.navbar {
	background-color: none;
	color: $clr-white;
	position: absolute;
	width: 100vw;
}

.navbar-brand {
	font-weight: 700;
	font-size: 2rem;

	&:hover {
		color: $clr-white;
	}

	@media (min-width: $lg) {
		font-size: 3rem;
	}
}

.nav-link {
	font-family: $fnt-secondary;
	font-weight: 400;
	text-align: right;
}

.toggler {
	color: $clr-white;
}

// Hero
.hero {
	height: 100vh;
	background: $ebonyClayOverlay, url('/assets/images/hero-image.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: $clr-white;
}

.hero__head {
	margin-top: 74px;
	font-family: $fnt-secondary;
	text-align: center;
	letter-spacing: 0.15em;
	margin-bottom: 3rem;

	@media (min-width: $md) {
		font-size: 3rem;
	}
}

.hero__subhead {
	font-size: 1rem;
	text-align: center;
	margin-bottom: 4rem;

	@media (min-width: $md) {
		font-size: 1.5rem;
		width: 75%;
	}
}

.hero__cta {
	display: block;
	background-color: $clr-patriotBlue;
	color: $clr-white;
	padding: 1.5em 2em;
	border: 0;
	letter-spacing: 0.15em;
	margin: 0 auto;
	transition: color 150ms ease-out, background-color 150ms ease-out;

	&:hover {
		color: $clr-patriotBlue;
		background-color: $clr-white;
	}

	@media (min-width: $md) {
		font-size: 1.25rem;
	}
}

// Sections
.section {
	width: 100vw;
	color: $clr-white;
}

.section__title {
	position: relative;
	margin-bottom: 5rem;
	font-family: $fnt-secondary;
	letter-spacing: 0.15em;
	font-size: 2rem;

	@media (min-width: $md) {
		font-size: 2.5rem;
	}

	@media (min-width: $lg) {
		font-size: 3rem;
	}
}

.section__text {
	color: $clr-machinery;
}

.section__img-container {
	margin-bottom: 2rem;

	@media (min-width: $md) {
		margin-bottom: 3rem;
	}

	@media (min-width: $xl) {
		margin-bottom: 0;
		padding-left: 100px;
	}
}

.section__lead {
	margin-bottom: 3rem;
	position: relative;

	@media (min-width: $md) {
		font-size: 2.5rem;
	}
}

.section__text {
	margin-bottom: 4rem;
}

.section__img {
	width: 100%;
	box-shadow: 0 25px 50px rgba($color: #000000, $alpha: 0.5);
}

// About
.about.section {
	padding: 4rem 0;
	@media (min-width: $md) {
		padding: 125px 0;
	}
}

.about.section__title {
	text-align: center;
}

.about.section__lead:before {
	content: 'About';
	position: absolute;
	color: $clr-white;
	display: block;
	opacity: 10%;
	font-weight: 700;
	transform: translateY(-50%);
	top: 50%;
	font-size: 6rem;
	left: -60px;

	@media (min-width: $md) {
		left: -100px;
		font-size: 8rem;
	}

	@media (min-width: $lg) {
		left: -175px;
		font-size: 11rem;
	}
}

.about.img {
	width: 100%;
}

// Projects
.projects.project {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 350px;
	border: 0;
	padding: 50px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&:hover > .projects.btn {
		opacity: 1;
	}

	@media (min-width: $md) {
		height: 550px;
	}
}

.projects.section__title {
	font-family: $fnt-secondary;
	letter-spacing: 0.1em;
	text-align: center;

	@media (min-width: $md) {
		text-align: left;
	}
}

.projects.btn {
	opacity: 0;
	width: 100%;

	transition: opacity 250ms ease-out;
}

#project-1 {
	background: $ebonyClayOverlay, url('/assets/images/project-1.jpg');
	background-size: cover;
}
#project-2 {
	background-image: url('/assets/images/project-2.jpg');
}
#project-3 {
	background-image: url('/assets/images/project-3.jpg');
}
#project-4 {
	background-image: url('/assets/images/project-4.jpg');
}

// FACTS
.facts {
	font-family: $fnt-secondary;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 0;

	@media (min-width: $md) {
		flex-direction: row;
	}
}

.fact {
	justify-content: center;
	display: flex;
	flex-direction: row;

	@media (min-width) {
		justify-content: left;
	}
}

.fact.text-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.fact.number {
	font-size: 7em;
	font-weight: 700;
	margin-bottom: 0;
	line-height: 1em;

	@media (min-width: $md) {
		font-size: 10em;
	}
}

.fact.text {
	margin: 0;
	line-height: 1em;
	margin-right: auto;
	font-size: 1.2rem;

	@media (min-width: $md) {
		font-size: 1.8rem;
	}
}

#completed {
	margin-top: 1rem;

	@media (min-width: $md) {
		margin-top: 0;
		margin-left: 50px;
	}

	@media (min-width: $lg) {
		margin-left: 250px;
	}
}

// BLOG
.blog.date {
	font-size: 0.9rem;

	@media (min-width: $md) {
		font-size: 0.7rem;
	}
}

.blog.section__lead:before {
	content: 'Blogs';
	position: absolute;
	color: $clr-white;
	display: block;
	opacity: 10%;
	font-weight: 700;
	transform: translateY(-50%);
	top: 50%;
	font-size: 6rem;
	left: -60px;

	@media (min-width: $md) {
		left: -100px;
		font-size: 8rem;
	}

	@media (min-width: $lg) {
		left: -175px;
		font-size: 11rem;
	}
}

// CLIENTS
.section.clients {
	padding-top: 140px;
}

.clients.section__title:before {
	content: 'Clients';
	font-family: $fnt-primary;
	position: absolute;
	color: $clr-white;
	display: block;
	opacity: 10%;
	font-weight: 700;
	transform: translateY(-50%);
	top: 50%;
	font-size: 6rem;
	left: -60px;

	@media (min-width: $md) {
		left: -100px;
		font-size: 8rem;
	}

	@media (min-width: $lg) {
		left: -175px;
		font-size: 11rem;
	}
}

.clients-slider {
	margin: 150px 0;
}

.client-logo {
	margin: 0 auto;
}

// CONTACT
.section.contact {
	margin-top: 150px;
	padding: 120px 0;
	background: $ebonyClayOverlay, url('/assets/images/contact-image.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.contact.section__lead {
	text-align: center;
	font-weight: 700;
	letter-spacing: 0.2rem;

	@media (min-width: $xl) {
		text-align: left;
		margin-bottom: 0;
	}
}

.contact.btn {
	display: block;
	margin: 0 auto;

	@media (min-width: $xl) {
		margin-left: auto;
		margin-right: 0;
	}
}

// FOOTER
.footer {
	padding: 75px 0;

	.row {
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		@media (min-width: $md) {
			flex-direction: row;
		}
	}

	.navbar-brand {
		margin: 0;
	}

	.navbar-nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 2rem;

		@media (min-width: $md) {
			margin-bottom: 0;
			flex-direction: row;
		}

		.nav-item {
			display: block;

			.nav-link {
				font-family: $fnt-primary;

				&:hover {
					color: $clr-white;
				}
			}
		}
	}

	.social-container {
		display: flex;
		margin-bottom: 2rem;

		@media (min-width: $md) {
			margin-bottom: 0;
		}
	}

	.social-link {
		display: block;
		background-color: rgba($color: $clr-machinery, $alpha: 0.25);
		color: $clr-white;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: flex;
		place-items: center;
		transition: all 150ms ease-out;

		&:hover {
			background-color: $clr-white;
			color: $clr-direWolf;
		}

		i {
			width: 100%;
			text-align: center;
		}

		&:hover {
			cursor: pointer;
		}

		&:not(:first-child) {
			margin-left: 15px;
		}
	}

	.copyright {
		color: $clr-white;
		margin-bottom: 0;
		margin: 0 auto;

		@media (min-width: $md) {
			margin: 0;
			margin-left: auto;
		}

		@media (min-width: $xl) {
			margin: 0;
		}
	}
}
