@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #272727;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.btn {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 1em 2rem;
  letter-spacing: 0.2em;
  border-radius: 0;
  position: relative;
  margin: 0 auto;
}

.btn:hover {
  background-color: #ffffff;
  color: #272727;
}

@media (min-width: 768px) {
  .btn {
    margin: 0;
    padding: 1.5em 2.5rem;
  }
}
.btn.btn-left {
  margin-bottom: 4rem;
}

.btn.btn-left:before {
  content: "";
  border-top: 1px solid #ffffff;
  width: 25vw;
  display: block;
  position: absolute;
  right: 100%;
  transform: translateY(-50%);
  top: 50%;
}

.btn.btn-right {
  display: block;
  margin-left: auto;
  margin-bottom: 4rem;
}

.btn.btn-right:before {
  content: "";
  border-top: 1px solid #ffffff;
  width: 25vw;
  display: block;
  position: absolute;
  left: 100%;
  transform: translateY(-50%);
  top: 50%;
}

.text-medium {
  color: #9b99a9;
}

.container {
  width: 80%;
}

@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 892px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1390px;
  }
}
.navbar {
  background-color: none;
  color: #ffffff;
  position: fixed;
  z-index: 100;
  width: 100vw;
  transition: background-color 250ms ease-out;
}

.navbar-brand {
  font-weight: 700;
  font-size: 2rem;
}

.navbar-brand:hover {
  color: #ffffff;
}

@media (min-width: 992px) {
  .navbar-brand {
    font-size: 3rem;
  }
}
.nav-link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
}

.toggler {
  color: #ffffff;
}

.navbar.dark {
  background-color: #272727;
}

.hero {
  height: 100vh;
  background: linear-gradient(0deg, rgba(51, 51, 56, 0.75), rgba(51, 51, 56, 0.75)), url("../images/hero-image.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
}

.hero__head {
  margin-top: 74px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  letter-spacing: 0.15em;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .hero__head {
    font-size: 3rem;
  }
}
.hero__subhead {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .hero__subhead {
    font-size: 1.5rem;
    width: 75%;
  }
}
.hero__cta {
  display: block;
  background-color: #393555;
  color: #ffffff;
  padding: 1.5em 2em;
  border: 0;
  letter-spacing: 0.15em;
  margin: 0 auto;
  transition: color 150ms ease-out, background-color 150ms ease-out;
}

.hero__cta:hover {
  color: #393555;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .hero__cta {
    font-size: 1.25rem;
  }
}
.section {
  width: 100vw;
  color: #ffffff;
}

.section__title {
  position: relative;
  margin-bottom: 5rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.15em;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .section__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) {
  .section__title {
    font-size: 3rem;
  }
}
.section__text {
  color: #9b99a9;
}

.section__img-container {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .section__img-container {
    margin-bottom: 4rem;
  }
}
@media (min-width: 1200px) {
  .section__img-container {
    margin-bottom: 0;
    padding-left: 100px;
  }
}
.section__lead {
  margin-bottom: 3rem;
  position: relative;
  font-weight: 700;
}

@media (min-width: 768px) {
  .section__lead {
    font-size: 2.2rem;
  }
}
.section__text {
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .section__text {
    font-size: 1.5rem;
  }
}
.section__img {
  width: 100%;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

.about.section {
  padding: 4rem 0;
}

@media (min-width: 768px) {
  .about.section {
    padding: 125px 0;
  }
}
.about.section__title {
  text-align: center;
}

.about.section__lead:before {
  content: "About";
  position: absolute;
  color: #ffffff;
  display: block;
  opacity: 10%;
  font-weight: 700;
  transform: translateY(-50%);
  top: 50%;
  font-size: 6rem;
  left: -60px;
}

@media (min-width: 768px) {
  .about.section__lead:before {
    left: -100px;
    font-size: 8rem;
  }
}
@media (min-width: 992px) {
  .about.section__lead:before {
    left: -175px;
    font-size: 11rem;
  }
}
.about.img {
  width: 100%;
}

.projects.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  border: 0;
  padding: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects.project:hover > .projects.btn {
  opacity: 1;
}

@media (min-width: 768px) {
  .projects.project {
    height: 550px;
  }
}
.projects.section__title {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .projects.section__title {
    text-align: left;
    margin-bottom: 5rem;
  }
}
.projects.btn {
  width: 100%;
  transition: opacity 250ms ease-out;
}

@media (min-width: 1200px) {
  .projects.btn {
    opacity: 0;
  }
}
.projects.project__title {
  font-family: "Oswald", sans-serif;
}

@media (min-width: 992px) {
  .projects.project__title {
    font-size: 2.2rem;
  }
}
#project-1 {
  background: linear-gradient(0deg, rgba(51, 51, 56, 0.75), rgba(51, 51, 56, 0.75)), url("../images/project-1.jpg");
  background-size: cover;
}

#project-2 {
  background-image: url("../images/project-2.jpg");
}

#project-3 {
  background-image: url("../images/project-3.jpg");
}

#project-4 {
  background-image: url("../images/project-4.jpg");
}

.facts {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
}

@media (min-width: 992px) {
  .facts {
    flex-direction: row;
  }
}
.fact {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

@media (min-width) {
  .fact {
    justify-content: left;
  }
}
.fact.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fact.number {
  font-size: 7em;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1em;
}

@media (min-width: 768px) {
  .fact.number {
    font-size: 10em;
  }
}
.fact.text {
  margin: 0;
  line-height: 1em;
  margin-right: auto;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .fact.text {
    font-size: 2rem;
  }
}
#completed {
  margin-top: 1rem;
}

@media (min-width: 992px) {
  #completed {
    margin-top: 0;
    margin-left: 50px;
  }
}
@media (min-width: 1200px) {
  #completed {
    margin-left: 250px;
  }
}
.blog.date {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .blog.date {
    font-size: 1rem;
  }
}
.blog.section__lead:before {
  content: "Blogs";
  position: absolute;
  color: #ffffff;
  display: block;
  opacity: 10%;
  font-weight: 700;
  transform: translateY(-50%);
  top: 50%;
  font-size: 6rem;
  left: -60px;
}

@media (min-width: 768px) {
  .blog.section__lead:before {
    left: -100px;
    font-size: 8rem;
  }
}
@media (min-width: 992px) {
  .blog.section__lead:before {
    left: -175px;
    font-size: 11rem;
  }
}
.section.clients {
  padding-top: 140px;
}

.clients.section__title:before {
  content: "Clients";
  font-family: "Montserrat", sans-serif;
  position: absolute;
  color: #ffffff;
  display: block;
  opacity: 10%;
  font-weight: 700;
  transform: translateY(-50%);
  top: 50%;
  font-size: 6rem;
  left: -60px;
}

@media (min-width: 768px) {
  .clients.section__title:before {
    left: -100px;
    font-size: 8rem;
  }
}
@media (min-width: 992px) {
  .clients.section__title:before {
    left: -175px;
    font-size: 11rem;
  }
}
.clients-slider {
  margin: 150px 0;
}

.client-logo {
  margin: 0 auto;
}

.section.contact {
  margin-top: 150px;
  padding: 120px 0;
  background: linear-gradient(0deg, rgba(51, 51, 56, 0.75), rgba(51, 51, 56, 0.75)), url("../images/contact-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact.section__lead {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

@media (min-width: 1200px) {
  .contact.section__lead {
    text-align: left;
    margin-bottom: 0;
  }
}
.contact.btn {
  display: block;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .contact.btn {
    margin-left: auto;
    margin-right: 0;
  }
}
.footer {
  padding: 75px 0;
}

.footer .row {
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer .row {
    flex-direction: row;
  }
}
.footer .navbar-brand {
  margin: 0;
}

.footer .navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .footer .navbar-nav {
    margin-bottom: 0;
    flex-direction: row;
  }
}
.footer .navbar-nav .nav-item {
  display: block;
}

.footer .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", sans-serif;
}

.footer .navbar-nav .nav-item .nav-link:hover {
  color: #ffffff;
}

.footer .social-container {
  display: flex;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .footer .social-container {
    margin-bottom: 0;
  }
}
.footer .social-link {
  display: block;
  background-color: rgba(155, 153, 169, 0.25);
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  place-items: center;
  transition: all 150ms ease-out;
}

.footer .social-link:hover {
  background-color: #ffffff;
  color: #272727;
}

.footer .social-link i {
  width: 100%;
  text-align: center;
}

.footer .social-link:hover {
  cursor: pointer;
}

.footer .social-link:not(:first-child) {
  margin-left: 15px;
}

.footer .copyright {
  color: #ffffff;
  margin-bottom: 0;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer .copyright {
    margin: 0;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .footer .copyright {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
